@model Karol.Dominio.Livro

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Livro</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataDaPublicacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataDaPublicacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Prefacio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Prefacio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AutorId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AutorId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Editora)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Editora)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new { id=Model.LivroId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
